.slider{
    width: 100%;
    height: auto;
}

img{
    width: auto;
    height: 400px;
    /* margin-top: 30px; */
}
.carousel-item .d-block{
    margin-top: 70px;
    /* object-fit: cover; */
}

/* Mobile View */
@media screen and (max-width:768px){
    img{
        height: 250px;
    }
}